﻿<!DOCTYPE html>

<html lang="en" ng-app="PizzaApp">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <h1>Pizza</h1>

        <div class="row" ng-controller="PizzaController as pizza">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Podaj nazwę pizzy" />
            </div>
            <div ng-repeat="pizza in pizza.data | filter:searchText" class="well">
                <div class="col-sm-3">
                    <img ng-src="{{pizza.imageUrl}}" class="img-responsive" />
                </div>
                <div class="col-sm-9">
                    <h1 ng-bind="pizza.name"></h1>
                    <p ng-bind="pizza.description"></p>
                    Price: <span ng-bind="pizza.price"></span>&euro;
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <script src="../Scripts/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/pizzaController.js"></script>
    <script src="app/pizzaService.js"></script>
</body>
</html>
